* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container-large {
    width: 75%;
    margin: 0 auto;
}
.container-mid {
    width: 60%;
    margin: 0 auto;
}

.pt-50 {
    padding-top: 50px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

.contain {
    width: 100%;
}

.button {
    padding: 10px;
    background-color: #0161ff;
    color: white;
    text-decoration: none;
}

.link {
    color: #0262ff;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 30px 20px;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
}

.nav {
    width: 40%;
}

.logo {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

a > img {
    vertical-align: middle;
}

ul {
    vertical-align: middle;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 40px;
    text-align: center;
}

header li {
    display: inline;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}

li > a {
    text-decoration: none;
    margin-right: 50px;
    font-weight: 500;
    color: black;
}

.hero {
    height: 880px;
    background-color: #b4d0e7;
}

h1 {
    font-size: 80px;
    padding-top: 200px;
    text-align: justify;
}

.hero-text {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 40px;
}

.hero-subtext {
    font-weight: 500;
}

#entity-1 {
    display: inline-block;
    font-size: 50px;
}

/* Main content */

h2 {
    margin-top: 100px;
    font-size: 50px;
}

label {
    margin-right: 30px;
    font-weight: 600;
}

.col {
    width: 30%;
    height: 1000px;
    border:solid 1px #d0d0d3;
}

.col-mid {
    width: 30%;
    margin: 0 5%;
    height: 1000px;
    border:solid 1px #d0d0d3;
}

.card {
    padding: 30px;
}

.users {
    text-align: center;
    padding: 15px;
    font-weight: 400;
    font-size: 18px;
    border-bottom:solid 1px #d0d0d3;
}

.card-title {
    font-size: 25px;
}

.price {
    font-weight: 700;
}

.time {
    color: #637381;
    font-size: 15px;
    font-weight: 700;
}

.card ul {
    list-style: none;
    font-weight: 600;
    font-size: 14px;
}

.card li {
    text-align: left;
    line-height: 20px;
}

.element {
    display: inline-block;
    width: 6%;
    vertical-align: top;
}

.element-1 {
    display: inline-block;
    width: 6%;
    vertical-align: top;
    color: #0161ff;
}

.list-text {
    display: inline-block;
    width: 92%;
}

.card-button {
    display: inline-block;
    width: 100%;
    margin: 50px auto 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.subtext {
    font-weight: 600;
    font-size: 14px;
}

hr {
    margin: 30px 0;
    width: 18%;
}

.card-subtitle {
    font-size: 18px;
}