/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container-large {
    width: 75%;
    margin: 0 auto;
}
.container-mid {
    width: 60%;
    margin: 0 auto;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-30 {
    margin-right: 30px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.contain {
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: #0161ff;
    color: white;
    text-decoration: none;
    text-align: center;
}

.button-1 {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    border: solid 1px black;
}

.button-2 {
    display: inline-block;
    background-color: #ffffff;
    padding: 7px 60px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.link {
    color: #0262ff;
    display: inline-block;
}

.h-1000 {
    height: 1000px;
}

.h-600 {
    height: 600px;
}

.borded {
    border:solid 1px #d0d0d3;
}

.invert {
    filter: invert(100%);
}

.a-right {
    text-align: right;
}

hr {
    border-bottom: 0px;
    border-left: 0px;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 30px 20px;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
}

.nav {
    width: 40%;
}

.logo {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

a > img {
    vertical-align: middle;
}

ul {
    vertical-align: middle;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 40px;
    text-align: center;
}

header li {
    display: inline;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}

li > a {
    text-decoration: none;
    margin-right: 50px;
    font-weight: 500;
    color: black;
}

.hero {
    height: 880px;
    background-color: #b4d0e7;
}

h1 {
    font-size: 80px;
    padding-top: 200px;
    text-align: justify;
}

.hero-text {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 40px;
}

.hero-subtext {
    font-weight: 500;
}

#entity-1 {
    display: inline-block;
    font-size: 50px;
}


/* Main content */

h2 {
    margin-top: 100px;
    font-size: 50px;
}

label {
    margin-right: 30px;
    font-weight: 600;
}

.col {
    width: 30%;
}

.col-mid {
    width: 30%;
    margin: 0 5%;
}

.card {
    padding: 30px;
}

.users {
    text-align: center;
    padding: 15px;
    font-weight: 400;
    font-size: 18px;
    border-bottom:solid 1px #d0d0d3;
}

.card-title {
    font-size: 25px;
}

.price {
    font-weight: 700;
}

.time {
    color: #637381;
    font-size: 15px;
    font-weight: 700;
}

.card ul {
    list-style: none;
    font-weight: 600;
    font-size: 14px;
}

.card li {
    text-align: left;
    line-height: 20px;
}

.element {
    display: inline-block;
    width: 6%;
    vertical-align: top;
}

.element-1 {
    display: inline-block;
    width: 6%;
    vertical-align: top;
    color: #0161ff;
}

.list-text {
    display: inline-block;
    width: 92%;
}

.card-button {
    display: inline-block;
    width: 100%;
    margin: 50px auto 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.subtext {
    font-weight: 600;
    font-size: 14px;
}

.payment hr {
    margin: 30px 0;
    width: 18%;
}

.card-subtitle{
    font-size: 18px;
}

.enterprise {
    border:solid 1px #d0d0d3;
}

.section-subtext {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.paragraph {
    font-size: 16px;
    font-weight: 600;
}

.col-fixed {
    width: 40%;
}

.square {
    height: 50%;
    width: 50%;
}

.bg-1 {
    background-color: #a2d39b;
}

.bg-2 {
    background-color: #61082b;
}

.bg-3 {
    background-color: #0093ce;
}

.bg-4 {
    background-color: #ff1c1c;
}

.bg-5 {
    background-color: #d5001f;
}

.bg-6 {
    background-color: #b4d0e7;
}

.bg-7 {
    background-color: #0d2481;
}

.bg-8 {
    background-color: #ffd830;
}

.bg-9 {
    background-color: #f5f5f5;
}

.bg-10 {
    background-color: #b4d0e7;
}

.partner-border {
    border: solid 10px #d0e9cd;
}

.display {
    padding: 60px;
}

.hr-1 {
    width: 10%;
    border-top: solid 1px #dedee0;
}

.try {
    color: #61082b;
    padding-bottom: 100px;
}

.faq hr {
    margin-top: 35px;
    margin-bottom: 35px;
    border-top: solid 1px #dcdcde;
}

footer {
    background-color: black;
}

.footer-col {
    width: 20%;
    border:solid 1px black;
    height: 300px;
}

.List-title {
    color: white;
    font-size: 23px;
}

footer li {
    list-style: none;
    line-height: 30px;
    text-align: left;
}

footer li a {
    color: white;
}

footer hr {
    width: 10%;
    border-top: solid 1px white;
}

.language {
    color: #999999;
    margin-bottom: 50px;
}